<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá como quieras</h2>
          <p>Con TechStyle podés pagar con tarjeta, transferencia o billeteras virtuales. ¡Seguro y rápido!</p>
        </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratuito</h2>
                    <p>Enviamos tus accesorios tech sin costo adicional a todo el país en compras mayores a $10.000.</p>
                  </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Protección garantizada</h2>
                    <p>Comprá con confianza. TechStyle protege tus datos y acompaña tu experiencia de compra de principio a fin.</p>
                  </article>     
            </div>
            <div class="col-12 col-lg-4">
                <p>Joaquin Becerra, Pedro Mangoldt, Bautista Pigni</p>
            </div>
        </div>
    </div>
</footer>